<div class="navbar">
  <img class="logo-navbar" src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1588607462/Note%20iT/shadow_lhxsud.png" alt="">
  <div class="title">
    <h1>Note'it</h1>
  </div>
  <div class="avatar-group">
    <div class="invitation">
      <h4>Note'Invitations</h4>
    </div>
    <div class="avatar-deco">
      <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: "true" },aria: { expanded: "false" } %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete%></a>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="note">
      <div class="note-add-title">
        <h2>Nouvelle note</h2>
      </div>
        <div class="container form_new">
         <%= simple_form_for [@notegroup , @note ] do |f| %>
          <%= f.input :title, placeholder: "Titre de votre Note", label: false %>
          <%= f.input :content, placeholder: "Description de votre Note",  label: false %>
          <%= f.input :date, label: "Quand doit se terminer votre Note?" %>
          <%= f.submit "Créez votre Note", class: "button" %>
        <% end %>
      </div>
  </div>
</div>


