<div class="homebackground">
  <div class="container-login">
    <img class="logo-login" src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1588607462/Note%20iT/shadow_lhxsud.png" alt="">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs input-login">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Log in",class: "login-btn" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
